*{
    margin : 0;
    padding : 0;
}
h1{
    text-align : center;
    font-size: x-large;
}

button{
    height: 50px;
    width : 150px;
    font-size: x-large;
    border-radius: 10px;
}

div{
    display : flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}